# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.suo

# VS Code files
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Styles
*.css
!*.min.css

# Sass
.sass-cache/
*.css.map

# Other
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
publish/
